* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body {
    background: cadetblue;
    color: black;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2392ac9e' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color:black;
    text-decoration: none;

}

ul{
    list-style: none;
}

.container{
    background-color: cadetblue;
    width: 90%;
    margin: auto;
}

.containercase{
    width: 90%;
    margin: auto;
}


/* Navigacion */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px, 0 px;
}

.nav-brand{
    width: 50px;
}

/* Navegación Izquierda */

.nav-main ul {

    display: flex;

}

.nav-main ul li {

    padding: 10px;

}

.nav-main ul li a {

    padding: 2px;

}

.nav-main ul li a:hover {
    border-bottom: 2px solid black;

}

.nav-main ul.nav-menu {

    flex: 1;
    margin-left: 20px;

}

.btn-menu {

    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 50px;
    z-index: 2;
    font-size: 1.3rem;
    display: none;

}

/* CASE */

.case p {
    color: aliceblue;
    -webkit-text-stroke: 0.5px black;
    background: black;
    opacity: .7;
}

hr {
    margin: 10px 0;

}

.case{

    width: 100%;
    height: 550px;
    background: url(./img/Case.jpg) no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-left: 50px;

}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: black;
    color: #DFDBE5;
    font-size: 15px;
    border: 1px solid #DFDBE5;
    margin: 10px 0;
} 

.btn:hover {

    opacity: .7;

}

.case h2, .case p {

    margin-bottom: 10px;

}

/* Cards */

.cards {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;

}

.cards img {

    width: 100%;
    height: 180px;

}

.cards p {

    background-color: aliceblue;

}

.cards h3 {

    font-size: 20px;
    margin: 10px 0;
    background-color: aliceblue;

}

.cards a {

    padding: 10px 0;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    
}

.cards a:hover {

    text-decoration: underline;

}

/*social*/

.social {

    margin: 50px;

}

.social p {

    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

}

.links {

    display: flex;
    align-items: center;
    justify-content: center;

}

.links a {

    margin: 0 30px;

}

.links a i {

    font-size: 3rem;

}


/*Footer*/

.footer {

    background-color:cadetblue;
    color: #DFDBE5;
    font-size: 12px;
    padding: 35px 0;

}

.footer-container {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    

}

.footer-container ul {

    margin: 0 auto;

}



.footer-container ul li {


    line-height: 2.8;

}

.footer-container ul li:hover {

    text-decoration: underline;


}


.copy {

    background: cadetblue;
    color: darkgray;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;

}

@media (max-width: 700px) {

    .btn-menu{

        display: block;

    }

    .nav-main ul.nav-menu{

        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: cadetblue;
        padding: 30px;
        height: 100%;
        opacity: .9;
        transform: translate(-400px);
        transition: transform .5s ease-in-out;
       
    }

    .nav-main ul.nav-menu.mostrar{

        transform: translate(-20px);

    }

    .nav-main ul.nav-menu li {

        padding: 20px;
        font-size: 14px;

    }


    .cards {

        grid-template-columns: repeat(2,1fr);

    }

}

@media (max-width: 500px) {

    .cards {
        grid-template-columns: 1fr;
    }

    .cards img {

        height: 270px;

    }

    .footer .footer-container {
        grid-template-columns: 1fr;
    }
    
}


/*Case 2*/

.case2{

    width: 100%;
    height: 550px;
    background: url(./img/fondonp.jpg) no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-left: 50px;

}

.case2 h2 {
    color: aliceblue;
    font-size: 90px;
    -webkit-text-stroke: 1px black;
}

.container2{
    background-color: cadetblue;
    width: 90%;
    margin: auto;
}

.containercase2{
    width: 90%;
    margin: auto;
}

.cards2{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .col{
    width: calc(50% - 4rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
  }
  
  .front,.back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
  }
  
  .back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  }
  
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }

  .back .inner p {

    font-size: 15px;


  }
  
  @media screen and (max-width: 64rem){

    .back .inner p {

        font-size: 12px;
    }

    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){

    .back .inner p {

        font-size: 10px;
    }
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .back .inner p {

        font-size: 8px;
    }
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }

  /*Cards de integrantes*/

  .title{

    color: aliceblue;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    text-align: center;

  }

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100vh;
  }
  
  .wrap {
      
    margin: 2rem;
  }
  
  .container--1 {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
  
    width: 20rem;
    height: 26rem;
    border: 1px;
    border-radius: 1.6rem;
    padding: 4rem;
  
    display: flex;
    align-items: flex-end;
  
    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("img/Valeria.jpg");
    background-position: var(--bX) var(--bY);
    background-size: 20rem auto;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  
    transition: transform .6s 1s;
  }

  .container--2 {

    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
  
    width: 20rem;
    height: 26rem;
    border: 1px;
    border-radius: 1.6rem;
    padding: 4rem;
  
    display: flex;
    align-items: flex-end;
  
    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("img/Julián.jpeg");
    background-position: var(--bX) var(--bY);
    background-size: 20rem auto;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);

  }

  .container--3 {

    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
  
    width: 20rem;
    height: 26rem;
    border: 1px;
    border-radius: 1.6rem;
    padding: 4rem;
  
    display: flex;
    align-items: flex-end;
  
    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("img/Alejandro.jpeg");
    background-position: var(--bX) var(--bY);
    background-size: 20rem auto;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);

  }
  
  .container::before,.container::after {
    content: "";
  
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
  
    position: absolute;
    z-index: 2;
  
    opacity: .3;
    transition: .3s;
  }
  
  .container::before {
    top: 2rem;
    right: 2rem;
  
    border-bottom-width: 0;
    border-left-width: 0;
  }
  
  .container::after {
    bottom: 2rem;
    left: 2rem;
  
    border-top-width: 0;
    border-right-width: 0;
  }
  
  .container--active {
    transition: none;
  }
  
  .container p {
    color: hsla(0, 0%, 100%, .9);
    font-size: 2.2rem;
  }
  
  .wrap:hover .container::before,.wrap:hover .container::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
  }
  

  